#modal-header,
#modal-body,
#modal-footer,
#modal-title,
#modal-body-text,
#email-adress-form,
#form-body,
#control-form-email,
#password-form,
#error-area,
#register-area,
#modal-form-group{
    background-color: white;
}

#error-area{
    padding: 2px;
    color: red;
}

#register-area{
    padding-top: 5px;
    text-align: right;
    color: black;
    text-decoration: underline;
    transition: 250ms;
    transition-timing-function: linear;
}

#button-login,
#button-close{
    background-color: black;
    color: white;
    border: none;
    transition: 250ms;
    transition-timing-function: linear;
}

#button-close:hover,
#button-login:hover{
    background-color: rgb(62, 18, 104);
}

#register-area:hover{
    color: rgb(62, 18, 104);
}






