#modal-header,
#modal-body,
#modal-footer,
#modal-title,
#modal-body-text,
#email-adress-form,
#form-body,
#control-form-email,
#password-form,
#error-area,
#register-area,
#modal-form-group{
    background-color: #350C40;
    color: white;
}

.modal-login-content{
    background-color: #350C40;   
}

#form-control-email,
#form-control-password{
    background-color: white;
    color: black;
}

#password-form, 
#email-adress-form, 
#birthdate-form{
    padding-top: 10px;
}

#error-area{
    padding: 2px;
    color: #A192A6;
}

#register-area{
    display: block;
    padding-top: 10px;
    text-align: right;
    color: white;
    text-decoration: underline;
    transition: 250ms;
    transition-timing-function: linear;
}

#button-login,
#button-close{
    background-color: white;
    color: #200726;
    border: none;
    transition: 250ms;
    transition-timing-function: linear;
}

#button-close:hover,
#button-login:hover{
    background-color: #A192A6;
}

#register-area:hover{
    color: #A192A6;
}






