*{
  background-color: black;
}

.NavBar{
  border-bottom: 1px solid white;
}

#col-login,
#col-details,
#col-home{
  text-align: center;
  margin-top: 2%;
  padding-bottom: 2%;
}

#text-pattern{
  color: white;
  text-decoration-line: none;
  transition: 250ms;
  transition-timing-function: linear;
}

#text-pattern:hover{
  font-size: large; 
}



